<%= turbo_frame_tag "show_collection_edit" do %>
<% if @collection == nil %>
  <% @collection = Collection.find(params[:collection_id]) %>
<% end %>

<% @collection.bookmarks.each_with_index do |bookmark, i| %>
    <%= bookmark.photo.title %>
    <%= cl_image_tag bookmark.photo.photo.key, height: 60, width: 60 %>
    <ul>
      <li><%= link_to "Edit", edit_photo_path(bookmark.photo.id) %></li>
      <li><%= link_to "Remove", bookmark_path(@collection.bookmark_ids[i], collection_id: @collection.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
      <% if bookmark.photo_id == @collection.cover %>
        <li>Is set as cover photo</li>
      <% else %>
        <li><%= link_to "Set as cover photo", collection_set_cover_path(collection_id: @collection.id, photo_id: bookmark.photo_id), data: {turbo_stream: :set_cover} %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
