<%= turbo_stream_from "editshow" %>


<div class="form-container">
  <h2>Edit Album Title or Description</h2>
  <%= simple_form_for @collection do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.button :submit, "Update" %>
  <% end %>

  <%= turbo_frame_tag "add_photo" do %>
    <%= link_to "Add photo", photos_path(collection_id: params[:id]) %>
  <% end %>

  <%# Temp line break for readability while testing %>
  <br>

  <%# This will render the _editshow.html.erb file and pass it this collection as a collection %>
  <%= turbo_frame_tag "show_collection_edit" do %>
    <%= render "editshow", collection: @collection %>
  <% end %>
  <%= link_to "Delete Collection", collection_path(@collection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@collection).destroy?  %>
</div>
