<h1>Create an Album</h1>
<%= simple_form_for @collection do |f| %>
  <%= f.input :name %>
    <%= f.input :description %>
<h2>Add photos to your album:</h2>
  <%= f.association :photos %>
  <%= f.button :submit, "Create" %>
<% end %>
