<div data-controller="photoinfo" class="collections-show-card">
  <div class="carousel_photo_container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">

      <div class="carousel-inner">
        <% @collection.bookmarks.each_with_index do |bookmark, index| %>
          <div class="carousel-item h-75 <%= index == 0 ? "active" : "" %>">
              <% photo = Photo.find(bookmark.photo_id) %>
              <%= cl_image_tag photo.photo.key, crop: :fill, class:"d-block carousel-photo"%>
          </div>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" data-action="click->photoinfo#prevInfo">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" data-action="click->photoinfo#nextInfo">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class='photo-info-card'>
    <h1><%=@collection.name %></h1>
    <h2><%= @collection.description %></h2>

    <% @collection.bookmarks.each_with_index do |bookmark, index| %>
      <div data-photoinfo-target="photoinfo" class="photo-info  <%= index == 0 ? "photo-info-active" : "photo-info-inactive"%>" >
        <% photo = Photo.find(bookmark.photo_id) %>
        <div class="photo<%=index%>">
          <h3><%= photo.title %></h3>
          <p><%= photo.description %></p>
          <p>Taken on <%= photo.date.strftime('%B %d, %Y') %>.</p>
          <p>Film: <%= photo.film %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if policy(@collection).update? %>
  <%= link_to "Edit collection", edit_collection_path(@collection), class: "button" %>
  <%= link_to "Delete collection", @collection, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button"%>
<% end %>
