<div class="nav-container" data-controller="navbar">
  <div class="navbar">
    <div class="name">
      <span>Photos on Rails</span>
    </div>
    <div class="navlinks-desktop">
      <%= link_to "All photos", photos_path %>
      <%= link_to "Collections", collections_path %>
      <%= link_to "Contact", new_contact_path %>
      <%= link_to "About", "" %>
      <a href="instagram.com">
        <i class="fa-brands fa-instagram fa-3x"></i>
      </a>
    </div>
    <button id="hamburger" data-action="click->navbar#menu"><i class="fa-solid fa-bars fa-3x""></i></button>
  </div>

  <div class="navlinks-mobile" data-navbar-target="mobileLinks" style="left:100vw;">
    <%= link_to "All photos", photos_path %>
    <%= link_to "Collections", collections_path %>
    <%= link_to "Contact", new_contact_path %>
    <%= link_to "About", "" %>
    <a href=" instagram.com ">
      <i class=" fa-brands fa-instagram fa-3x "></i>
    </a>
  </div>

</div>
