<div class="nav-container" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar" >
  <div class="navbar <%= current_page?(root_path)  ? "navbar-home" : 'navbar-normal'%>" data-navbar-target="navbar">
    <div class="name">
      <span>Photos on Rails</span>
    </div>
    <div class="navlinks-desktop">

      <%= link_to "Photos", photos_path %>
      <%= link_to "Collections", collections_path %>
      <%= link_to "Contact", new_contact_path %>
      <%= link_to "About", about_path %>
      <a href="https://www.instagram.com/" target="blank">
        <i class="fa-brands fa-instagram fa-3x"></i>
      </a>
      <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete},
      class: "dropdown-item" %>
      <% end %>
    </div>
    <button id="hamburger" data-action="click->navbar#menu"><i class="fa-solid fa-bars fa-3x""></i></button>
  </div>

  <%# <div class="navlinks-mobile" data-navbar-target="mobileLinks" style="left:100vw;">
    <%= link_to "All photos", photos_path %>
    <%# <%= link_to "Collections", collections_path %>
    <%# <%= link_to "Contact", new_contact_path %>
    <%# <%= link_to "About", "" %>
    <%# <a href=" instagram.com "> %>
      <%# <i class=" fa-brands fa-instagram fa-3x "></i> %>
    <%# </a> %>
  <%# </div> %>

</div>
