 <div class="form-container" id="new-contact">
  <h1>Contact</h1>
  <p>I'd love to hear from you. Send me a message below for booking requests and inquiries.</p>
  <%= simple_form_for @contact do |f| %>
    <% if @contact.errors.any? %>

            <div><%= pluralize(@contact.errors.count, "error") %> prohibited this page from being saved:</div>
            <ul>
                <% @contact.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>

    <% end %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :message %>
    <div class="button-container">
      <%= f.button :submit, "Send", class: "button" %>
    </div>
  <% end %>
</div>
