<%= turbo_frame_tag "show_all_photos" do %>
<h1>All photos</h1>
  <div class="photo-index-container">
    <% @photos.each do |photo| %>
      <div class="photo-index-card" data-aos=<%= @photos.find_index(photo).even? || @photos.find_index(photo) === 0 ? "fade-right" : "fade-left" %> data-aos-duration="1000">
        <%= cl_image_tag photo.photo.key%>
        <div class="photo-index-card-text">
          <h1 class= <%= photo.title.include?(" ")? "small-title" : " " %>><%= link_to photo.title, photo_path(photo) %></h1>
          <div>
          <% if photo.description.length <= 85 %>
            <p><%= photo.description %></p>
          <% else %>
            <p><%= photo.description[0..83] %>...</p>
          <% end %>
            <div class="photo-index-card-film">
              <p><%= photo.film %></p>
              <p><%= photo.camera %></p>
            </div>
          </div>
          <%# <p><% if policy(photo).edit? %>
            <%# <%= link_to "Edit information", edit_photo_path(photo[:id]) %>
          <%# <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to "Add Photo", new_photo_path, class:"button user-buttons-container mt-5 w-25" if policy(@photos).create? %>


<%# This conditional will only render this frame if the params contain a "format" from another page %>
<%# <% if params[:format] != nil %>
<%# <% end %>

  <%# <%= turbo_frame_tag "add_photo" do %>
    <%# <%= render "addphoto"%>
  <%# <% end %>
<%# display already added %>
