<%= turbo_frame_tag "show_all_photos" do %>
<h1>All photos</h1>
  <% @photos.each do |photo| %>
    <div>
      <%= cl_image_tag photo.photo.key, height: 300, width: 400, crop: :fill %>
      <%= photo.description %>
      <%= photo.film %>
      <%= photo.camera %>
      <% if policy(photo).edit? %>
        <%= link_to "Edit information", edit_photo_path(photo[:id]) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%# This conditional will only render this frame if the params contain a "format" from another page %>
<% if params[:format] != nil %>
<% end %>

  <%= turbo_frame_tag "add_photo" do %>
    <%= render "addphoto"%>
  <% end %>
<%# display already added %>
