<div class="photo-show-container">
  <%= cl_image_tag @photo.photo.key %>
  <div class="photo-show-card ms-3">
    <h1><%= @photo.title %></h1>
    <h3><%= @photo.description %></h3>
    <p><%= @photo.film %></p>
    <p><%= @photo.camera %></p>
    <div class="user-buttons-container">
      <%= link_to "Delete", photo_path(@photo), class:"button mb-5", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@photo).destroy?  %>
      <%= link_to "Edit", edit_photo_path(@photo), class:"button" if policy(@photo).update? %>
    </div>
  </div>
</div>
